<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le Louvre{% endblock %}</title>
        
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('materialize-v0.98.2/materialize/css/materialize.min.css')}}" media="screen,projection" />
        
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset('louvre_favicon.png') }}" />

        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>

    </head>
    
    <body>
      
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper amber darken-2">
                        <a href="{{ path('general_homepage') }}" class="brand-logo"><img src="{{ asset('louvre_site.png') }}"> Le Louvre</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{{ path('general_homepage') }}"><i class="material-icons left">home</i>Accueil</a></li>
                            <li><a href="#">Visites et Activités</a></li>
                            <li><a href="#">Expositions et Actualités</a></li>
                            <li><a href="#">Oeuvres et Palais</a></li>

                            {#{% if is_granted('ROLE_USER') %}#}
                                {#noLink#}
                            {#{% else %}#}
                                {#<li><a href="{{ path('register')}}">Inscription</a></li>#}
                            {#{% endif %}#}

                            {#{% if is_granted('ROLE_USER') %}#}
                                {#<li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>#}
                            {#{% else %}#}
                                {#<li><a href="{{ path('connexion') }}">Connexion</a></li>#}
                            {#{% endif %}#}

                            {#{% if is_granted('ROLE_USER') %}#}
                                <li><a class="waves-effect waves-light btn grey lighten-1" href="{{ path('selection')}}"><i class="material-icons left">store</i>Billetterie</a></li>
                            {#{% else %}#}
                                {#<li class="active"><a class="waves-effect waves-light btn grey lighten-1" href="{{ path('connexion')}}"><i class="material-icons left">store</i>Billetterie</a></li>#}
                            {#{% endif %}#}

                            {#<li>#}
                                {#<div class="languages">#}
                                    {#<i class="material-icons left">language</i>#}
                                    {#<a class="waves-effect waves-light btn grey lighten-1" href="#">fr</a>#}
                                    {#<a class="waves-effect waves-light btn grey lighten-1" href="#">en</a>#}
                                {#</div>#}
                            {#</li>#}
                        </ul>
                    </div>
                </nav>
            </div>

            <ul class="side-nav" id="mobile-demo">
                <li class="homeHamburger"><a href="{{ path('general_homepage') }}"><i class="material-icons left">home</i>Accueil</a></li>
                <li><a href="#">Visites et Activités</a></li>
                <li><a href="#">Expositions et Actualités</a></li>
                <li><a href="#">Oeuvres et Palais</a></li>

                {#{% if is_granted('ROLE_USER') %}#}
                    {#noLink#}
                {#{% else %}#}
                    {#<li><a href="{{ path('register')}}">Inscription</a></li>#}
                {#{% endif %}#}

                {#{% if is_granted('ROLE_USER') %}#}
                    {#<li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>#}
                {#{% else %}#}
                    {#<li><a href="{{ path('connexion') }}">Connexion</a></li>#}
                {#{% endif %}#}

                {#{% if is_granted('ROLE_USER') %}#}
                    <li class="active"><a class="waves-effect waves-light btn grey lighten-1" href="{{ path('selection')}}"><i class="material-icons left">store</i>Billetterie</a></li>
                {#{% else %}#}
                    {#<li class="active"><a class="waves-effect waves-light btn grey lighten-1" href="{{ path('connexion')}}"><i class="material-icons left">store</i>Billetterie</a></li>#}
                {#{% endif %}#}

                {#<li>#}
                    {#<div class="languages_hamburger">#}
                        {#<i class="material-icons left">language</i>#}
                        {#<a class="waves-effect waves-light btn grey lighten-1" href="#">fr</a>#}
                        {#<a class="waves-effect waves-light btn grey lighten-1" href="#">en</a>#}
                    {#</div>#}
                {#</li>#}
            </ul>
        </header>

        {% block navigation %}{% endblock %}  
        
        <div>
            <div class="row">
                <img id="banner" src="{{ asset('louvre_banniere.png') }}">
            </div>
        </div>

        {% block accueil %}{% endblock %}
        {% block tarifs %}{% endblock %}
        {#{% block inscription %}{% endblock %}#}
        {#{% block login %}{% endblock %}#}
        {% block form %}{% endblock %}
        {% block confirm %}{% endblock %}
        {% block order %}{% endblock %}
        {% block recap %}{% endblock %}
        {#{% block logout %}{% endblock %}#}
        {% block mail %}{% endblock %}
        {% block error %}{% endblock %}
        
        <footer class="page-footer amber darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Informations</h5>
                <p class="grey-text text-lighten-4">Vous trouverez ci-dessous des informations complémentaires.</p>
                <p><i class="tiny material-icons">phone</i>&nbsp;Tel: 02 35 00 00 00</p>
                <p><i class="tiny material-icons">print</i>&nbsp;Fax: 02 35 00 00 00</p>
              </div>
              <div class="col l4 offset-l2">
                <h5 class="white-text">Liens</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">CGV</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Mentions légales</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                <p>&copy; Copyright 2018 - Le Louvre</p>
            </div>
          </div>
        </footer>
            
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('materialize-v0.98.2/materialize/js/materialize.min.js')}}"></script>

        <script type="text/javascript" src="{{ asset('js/addForm.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/hamburger_menu.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/disableDates.js') }}"></script>

        {% block javascripts %}{% endblock %}
        
    </body>
</html>