{% extends 'base.html.twig' %}

{% block navigation %}
    
    <div class="navbar-fixed">
        <nav class="grey lighten-1">
            <div class="row">
                <div class="col s12">
                    <div class="col offset-s1 s2"><i class="material-icons left">chevron_right</i>Sélection</div>
                    <div class="col offset-s1 s2"><i class="material-icons left">chevron_right</i>Résumé de la commande</div>
                    <div class="col offset-s1 s2">Paiement</div>
                    <div class="col offset-s1 s2">Confirmation</div>
                </div>
            </div>
        </nav>
    </div>
        
{% endblock %}

{% block tarifs %}
   
    <div class="part"> 
        <div class="row">
            <div class="col offset-s1 s10 grey lighten-2 z-depth-5">
                    <h4>Nos tarifs</h4>
                    <br/>                    
                      <table class="centered">
                        <thead>
                          <tr>
                              <th>Enfant</th>
                              <th>Normal</th>
                              <th>Sénior</th>
                              <th>Réduit</th>
                          </tr>
                        </thead>

                        <tbody>
                         <tr>
                            <td>8€</td>
                            <td>16€</td>
                            <td>12€</td>
                            <td>10€</td>
                          </tr>
                          <tr>
                            <td>de 4 ans à 12 ans <br/>(l’entrée est gratuite pour <br/>les enfants de moins de 4 ans)</td>
                            <td>à partirde 12 ans</td>
                            <td>à partir de 60 ans</td>
                            <td>tarif réservé sous certaines conditions <br/>(étudiant, employé du musée, d’un <br/>service du Ministère de la Culture, militaire…)</td>
                          </tr>
                        </tbody>
                      </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block recap %}
    
    <div class="row">
        <div class="col offset-s2">
            <h3>Récapitulatif de la commande</h3>
        </div>
    </div>

    <div class="row">
        <div class="col offset-s3">
            {#{% for booking in booking %}#}
                <p>
                    {#ajout d'un message lors de l'enregistrement ou la modification d'une commande#}
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <h5><strong>Commande N°</strong>{{ booking.id }} <strong>du</strong> {{ booking.date|date('d F Y') }}</h5> <br/>

                    <strong>Nom :</strong> {{ booking.nom }} <br/>
                    <strong>Prénom :</strong> {{ booking.prenom }} <br/>
                    <strong>Date de la visite :</strong> le {{  booking.date|date('d F Y') }} en <strong>{{ booking.type }}</strong> <br/>
                    <strong>Email :</strong> {{ booking.email }} <br/>
                    <strong>Statut de la commande :</strong> {{ booking.statut }} <br/>
                    <strong>Prix total de la commande :</strong> {{ booking.prixTotal }} €<br/><br/>

                    <a href="{{ path('modification', {'id':booking.id}) }}">Modifier la commande</a>
                    <hr/>

                    <div class="row">
                        <div class="col offset-s8 s4">
                            <a class="waves-effect waves-light btn amber darken-2" href="{{ path('order_prepare', {'id':booking.id}) }}"><i class="material-icons left">payment</i>Payer votre commande</a>
                        </div>
                    </div>
                </p>
            {#{% endfor %}#}
        </div>
    </div>

{% endblock %}