{% extends 'base.html.twig' %}

{% block navigation %}
    
    <div class="navbar-fixed">
        <nav class="grey lighten-1">
            <div class="row">
                <div class="col s12">
                    <div class="col s3"><div class="grey submenu1">Sélection</div></div>
                    <div class="col s3"><div class="grey submenu2">Résumé</div></div>
                    <div class="col s3"><div class="submenu3">Paiement</div></div>
                    <div class="col s3"><div class="submenu4">Validation</div> </div>
                </div>
            </div>
        </nav>
    </div>
        
{% endblock %}

{% block tarifs %}

    <div class="part">
        <div class="row">
            <div class="col offset-s1 s10 grey lighten-2 z-depth-5">
                <h4>Nos tarifs</h4>
                <br/>
                <table class="centered">
                    <thead>
                    <tr>
                        <th>Type de visite</th>
                        <th>Enfant<sup>1</sup></th>
                        <th>Normal<sup>2</sup></th>
                        <th>Sénior<sup>3</sup></th>
                        <th>Réduit<span id="hide">*</span><sup>4</sup></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th>Journée</th>
                        <td>{{ child_price }}€</td>
                        <td>{{ normal_price }}€</td>
                        <td>{{ senior_price }}€</td>
                        <td>{{ reduced_price }}€</td>
                    </tr>
                    <tr>
                        <th>Demi-journée</th>
                        <td>{{ child_price * half_price }}€</td>
                        <td>{{ normal_price * half_price }}€</td>
                        <td>{{ senior_price * half_price }}€</td>
                        <td>{{ reduced_price * half_price }}€</td>
                    </tr>
                    <tr id="hide">
                        <td></td>
                        <td>{{ children }}<br>(l’entrée est gratuite pour les enfants de moins de 4 ans)</td>
                        <td>{{ adult }}</td>
                        <td>{{ senior }}</td>
                        <td>{{ reduce }}<br>(étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="addInfo" class="col offset-s1 s10">
                <p><sup>1</sup> de 4 à 12 ans (l’entrée est gratuite pour les enfants de moins de 4 ans)</p>
                <p><sup>2</sup> à partir de 12 ans</p>
                <p><sup>3</sup> à partir de 60 ans</p>
                <p><sup>4</sup> tarif réservé sous présentation d’un justificatif (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block recap %}
    
    <div class="row">
        <div class="col offset-s2 s10">
            <h3>Récapitulatif de la commande</h3>
        </div>
    </div>

    <div class="row">
        <div class="col offset-s1 s10">
            {#{% for booking in booking %}#}

                    {#ajout d'un message lors de l'enregistrement ou la modification d'une commande#}
                    {% for message in app.flashes('notice') %}
                        <div class="card-panel light-green lighten-2">
                            <div class="success">
                                <i class="material-icons left">check</i><p>{{ message }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    <script type="text/javascript">
                        today = new Date();
                        document.write("<h5><strong>Commande N°</strong>{{ booking.id }} <strong>du </strong>");
                        document.write(today.toLocaleDateString());
                        document.write("</h5>");
                    </script>

                    <br/>

                    <strong>Nom :</strong> {{ booking.nom }} <br/>
                    <strong>Prénom :</strong> {{ booking.prenom }} <br/>
                    <strong>Date de la visite :</strong> le {{  booking.date|date('d/m/Y') }} en <strong>{{ booking.type }}</strong> <br/>
                    <strong>Email :</strong> {{ booking.email }} <br/>
                    <strong>Statut de la commande :</strong> {{ booking.statut }} <br/>
                    <strong>Prix total de la commande :</strong> {{ booking.prixTotal }} €<br/><br/>

                    <table class="centered">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Date de naissance</th>
                                <th>Pays</th>
                                <th>Réduction</th>
                                <th>Tarifs</th>
                                <th>Numéro de la commande</th>
                            </tr>
                        </thead>

                        {% for ticket in ticket %}
                        <tbody>
                            <tr>
                                <td> {{ ticket.nom }} </td>
                                <td> {{ ticket.prenom }} </td>
                                <td> {{ ticket.dateNaissance|date('d/m/Y') }} </td>
                                <td> {{ ticket.country }} </td>
                                <td> {{ ticket.tarifReduit }} </td>
                                <td> {{ ticket.prix }} € </td>
                                <td> {{ ticket.booking.id }} </td>
                            </tr>
                        </tbody>
                        {% endfor %}

                        {#<tbody>#}
                            {#<tr>#}
                                {#<td></td>#}
                                {#<td></td>#}
                                {#<td></td>#}
                                {#<td></td>#}
                                {#<td><strong>Total</strong></td>#}
                                {#<td><strong> {{ booking.prixTotal }} € </strong></td>#}
                            {#</tr>#}
                        {#</tbody>#}
                    </table>

                    <br/>

                    <div id="bookingTotalPriceWeb" class="row">
                        <div class="col offset-s7 s5">
                            <h5><strong>Total de la commande : </strong><strong>{{ booking.prixTotal }} €</strong></h5>
                        </div>
                    </div>

                    <div id="bookingTotalPriceMobile" class="row">
                        <h5><strong>Total de la commande : </strong><strong>{{ booking.prixTotal }} €</strong></h5>
                    </div>

                    <br/>

                    <a href="{{ path('modification', {'id':booking.id}) }}">Modifier la commande</a>
                    <hr/>

                    <div id="paymentWeb" class="row">
                        <div class="col offset-s9 s3">
                            <a class="waves-effect waves-light btn amber darken-2" href="{{ path('order_prepare', {'id':booking.id}) }}"><i class="material-icons left">payment</i>Paiement</a>
                        </div>
                    </div>

            {#{% endfor %}#}
        </div>
    </div>

    <div id="paymentMobile">
        <a class="waves-effect waves-light btn amber darken-2" href="{{ path('order_prepare', {'id':booking.id}) }}"><i class="material-icons left">payment</i>Payer</a>
    </div>

    <br>

{% endblock %}