{% extends 'base.html.twig' %}

{% block navigation %}
    
    <div class="navbar-fixed">
        <nav class="grey lighten-1">
            <div class="row">
                <div class="col s12">
                    <div class="col offset-s1 s2"><i class="material-icons left">chevron_right</i>Sélection</div>
                    <div class="col offset-s1 s2">Résumé de la commande</div>
                    <div class="col offset-s1 s2">Paiement</div>
                    <div class="col offset-s1 s2">Confirmation</div>
                </div>
            </div>
        </nav>
    </div>
        
{% endblock %}

{% block tarifs %}
   
    <div class="part"> 
        <div class="row">
            <div class="col offset-s1 s10 grey lighten-2 z-depth-5">
                    <h4>Nos tarifs</h4>
                    <br/>                    
                      <table class="centered">
                        <thead>
                          <tr>
                              <th>Type de visite</th>
                              <th>Enfant</th>
                              <th>Normal</th>
                              <th>Sénior</th>
                              <th>Réduit</th>
                          </tr>
                        </thead>

                        <tbody>
                         <tr>
                             <th>Journée</th>
                            <td>8€</td>
                            <td>16€</td>
                            <td>12€</td>
                            <td>10€</td>
                         </tr>
                         <tr>
                             <th>Demi-journée</th>
                             <td>4€</td>
                             <td>8€</td>
                             <td>6€</td>
                             <td>5€</td>
                         </tr>
                         <tr>
                             <td></td>
                            <td>de 4 ans à 12 ans <br/>(l’entrée est gratuite pour <br/>les enfants de moins de 4 ans)</td>
                            <td>à partirde 12 ans</td>
                            <td>à partir de 60 ans</td>
                            <td>* tarif réservé sous présentation d'un justificatif <br/>(étudiant, employé du musée, d’un <br/>service du Ministère de la Culture, militaire…)</td>
                         </tr>
                        </tbody>
                      </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block form %}

    <div class="row">
        <div class="col offset-s2">
            <h3>Sélection de la visite</h3>
        </div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate' } }) }}

    <div class="row">
        <div class="col offset-s2 s8 grey lighten-2 z-depth-5">
            <h4>1) Choix de la date</h4>
            <hr/><br/>
            <p>Choisissez la date et l'heure de votre visite au Musée du Louvre :</p>
            <div class="col offset-s4 s4">
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            </div>
            <div class="col offset-s2 s8">
                <p>
                    Cochez le type de journée voulue :<br/>
                    {#<input type="radio" name="day" id="journée" /> <label for="journée">Journée (de 9h à 18h)</label><br />#}
                    {#<input type="radio" name="day" id="demi" /> <label for="demi">Demi-journée (de 14h à 18h)</label><br />#}
                    {{ form_widget(form.type) }}
                </p>
                <p></p>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col offset-s2 s8 grey lighten-2 z-depth-5">
            <h4>2) Nombre de personnes</h4>
            {#<hr/><br/>#}
            {#<div class="row">#}
                {#<div class="input-field col offset-s4 s4">#}
                    {#<label for="nbBillet">Veuillez indiquer le nombre de billets souhaité</label>#}
                    {#<input type="number" id="nbBillet" min="0" max="10"/>#}
                {#</div>#}
            {#</div>#}

            <div class="row">
                <br/><hr/>
                <h5>Billet N°1</h5>
                <div class="col s12">
                    {#{% set prototype_ticket = form.tickets.vars.prototype %}#}
                        {#{{ form_row(prototype_ticket.nom) }}#}
                        {#{{ form_row(prototype_ticket.prenom) }}#}
                        {#{{ form_row(prototype_ticket.dateNaissance) }}#}
                        {#{{ form_row(prototype_ticket.tarifReduit) }}#}
                    {{ form_widget(form.tickets) }}
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col offset-s2 s8 grey lighten-2 z-depth-5">
            <h4>3) Coordonnées</h4>
            <hr/><br/>
            <div class="col s6">
                {{ form_row(form.prenom) }}
            </div>
            <div class="col s6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col offset-s3 s6">
                {{ form_row(form.email) }}
            </div>
            <br/>
        </div>
    </div>


    {#{{ dump(form) }}#}

    <div class="row">
        <div class="col offset-s8 s2">
            <button class="btn waves-effect waves-light amber darken-2" type="submit">Commander<i class="material-icons right">send</i></button>
        </div>
    </div>

    {{ form_end(form)}}

{% endblock %}

