{% extends 'base.html.twig' %}

{% block navigation %}
    
    <div class="navbar-fixed">
        <nav class="grey lighten-1">
            <div class="row">
                <div class="col s12">
                    <div class="col s3"><div class="grey submenu1">Sélection</div></div>
                    <div class="col s3"><div class="submenu2">Résumé</div></div>
                    <div class="col s3"><div class="submenu3">Paiement</div></div>
                    <div class="col s3"><div class="submenu4">Validation</div> </div>
                </div>
            </div>
        </nav>
    </div>
        
{% endblock %}

{% block tarifs %}

    <div class="part">
        <div class="row">
            <div class="col offset-l1 l10 offset-m1 m10 s12 grey lighten-2 z-depth-5">
                <h4>Nos tarifs</h4>
                <br/>
                <table class="centered">
                    <thead>
                    <tr>
                        <th>Type de visite</th>
                        <th>Enfant<sup>1</sup></th>
                        <th>Normal<sup>2</sup></th>
                        <th>Sénior<sup>3</sup></th>
                        <th>Réduit<span id="hide">*</span><sup>4</sup></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th>Journée</th>
                        <td>{{ child_price }}€</td>
                        <td>{{ normal_price }}€</td>
                        <td>{{ senior_price }}€</td>
                        <td>{{ reduced_price }}€</td>
                    </tr>
                    <tr>
                        <th>Demi-journée</th>
                        <td>{{ child_price * half_price }}€</td>
                        <td>{{ normal_price * half_price }}€</td>
                        <td>{{ senior_price * half_price }}€</td>
                        <td>{{ reduced_price * half_price }}€</td>
                    </tr>
                    <tr id="hide">
                        <td></td>
                        <td>{{ children }}<br>(l’entrée est gratuite pour les enfants de moins de 4 ans)</td>
                        <td>{{ adult }}</td>
                        <td>{{ senior }}</td>
                        <td>{{ reduce }}<br>(étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="addInfo" class="col offset-s1 s10">
                <p><sup>1</sup> de 4 à 12 ans (l’entrée est gratuite pour les enfants de moins de 4 ans)</p>
                <p><sup>2</sup> à partir de 12 ans</p>
                <p><sup>3</sup> à partir de 60 ans</p>
                <p><sup>4</sup> tarif réservé sous présentation d’un justificatif (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</p>
            </div>
        </div>
    </div>

{% endblock %}


{% block form %}

    <div class="row">
        <div class="col offset-l2 offset-s1 s10">
            <h3>Sélection de la visite</h3>
        </div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate' } }) }}

    <div class="row">
        <div class="col offset-l2 l8 offset-m1 m10 s12 grey lighten-2 z-depth-5">
            <h4>1) Choix de la date</h4>
            <hr/>

            {#ajout d'un message lors de l'enregistrement ou la modification d'une commande#}
            {% for message in app.flashes('error') %}
                <div class="card-panel red lighten-4">
                    <div class="error">
                        <i class="material-icons left">close</i><p>{{ message }}</p>
                    </div>
                </div>
            {% endfor %}

            {{ form_errors(form.date) }}

            <p>Choisissez la date et l'heure de votre visite au Musée du Louvre :</p>
            <div class="col offset-l4 l4 offset-s1 s10">

                {{ form_label(form.date) }}
                {{ form_widget(form.date, {
                    'attr': {'class': 'datepicker'},
                    })
                }}

            </div>

            {#<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
            <script>
                // récupération de la date sélectionnée
                var currentDate = null;

                // addEventListener ne fonctionnant pas avec la création d'un input avec id réalisé par materialize,
                // il a fallut créer une fonction setInterval afin d'appeler la fonction checkDate pour vérifier le changement de date dans le picker
                window.setInterval(function () {
                    var newDate = document.getElementById("booking_date").value;
                    if (currentDate !== newDate) {
                        checkDate();
                    }
                    currentDate = newDate;
                }, 1000);

                function checkDate () {

                    var visitDate = document.getElementById("booking_date").value;

                        var regex = /\//gm;
                        var str = visitDate;
                        var subst = `-`;

                    // Remplacement des slash par des tirets dans l' affichage url de la date de visite
                    visitDate = str.replace(regex, subst);

                    // création d'une url pour récupérer des données (nombre de tickets par jour) de la bdd
                    var url = "{{ app.request.getBaseURL()}}/louvre/billetterie/selection/visite/" + visitDate;

                    // mise en place d'ajax pour afficher des messages sans réactualiser la page
                    $.get(url, function(data) {
                        var selectedTicket = document.getElementsByClassName("ticketForm").length;
                        var ticketAvailable = JSON.parse(data);

                        // console.log(ticketLimit);
                        // console.log(ticketAvailable.available);

                        // if (ticketAvailable.available == 0) {
                        //     document.getElementById("checkDateMessage").innerHTML = "<div class=\"errorDate\">Le nombre maximum de visiteurs pour ce jour est atteint, veuillez sélectionner une nouvelle date !</div>";
                        //     document.getElementById("bookingButton").setAttribute("disabled", "disabled");
                        // }
                        // else {
                        //     document.getElementById("checkDateMessage").innerHTML = "<div class=\"successDate\">Il reste " + ticketAvailable.available + " places pour cette date !</div>";
                        //     document.getElementById("bookingButton").removeAttribute("disabled");
                        // }

                        if ((selectedTicket == ticketAvailable.available) || (ticketAvailable.available == 0)) {
                            document.getElementById("checkSelectedTicket").innerHTML = "<div class=\"errorDate\">Il n'y a plus assez de tickets disponibles pour cette date !</div>";
                            document.getElementById("addTicketButton").setAttribute("disabled", "disabled");
                            document.getElementById("checkDateMessage").innerHTML = "<div class=\"errorDate\">Le nombre maximum de visiteurs pour ce jour est atteint, veuillez sélectionner une nouvelle date !</div>";
                            document.getElementById("bookingButton").setAttribute("disabled", "disabled");
                        }
                        else {
                            document.getElementById("checkSelectedTicket").innerHTML = "<div></div>";
                            document.getElementById("addTicketButton").removeAttribute("disabled");
                            document.getElementById("checkDateMessage").innerHTML = "<div class=\"successDate\">Il reste " + ticketAvailable.available + " places pour cette date !</div>";
                            document.getElementById("bookingButton").removeAttribute("disabled");
                        }

                    });

                }

                // window.setInterval(function () {
                //     var selectedTicket = document.getElementsByClassName("ticketForm").length;
                //     var ticketAvailable = null;
                //     if (selectedTicket !== ticketAvailable) {
                //         checkSelectedTicket();
                //     }
                // }, 5000);


                // var selectedTicket = document.getElementsByClassName("ticketForm").length;
                // var ticketAvailable = null;
                //
                // if (selectedTicket !== ticketAvailable) {

                    // var element = document.getElementById("ticketFormId");
                    // element.addEventListener("mouseover", checkSelectedTicket);

                    // var element = document.getElementById("booking_date");
                    // element.addEventListener("mouseover", checkSelectedTicket);

                    // checkSelectedTicket();

                // }

                {#window.onclick = function () {#}
                    {#var selectedTicket = document.getElementsByClassName("ticketForm").length;#}
                    {#var ticketAvailable = null;#}

                    {#if (selectedTicket !== ticketAvailable) {#}
                        {#checkSelectedTicket()#}
                    {#}#}
                {#};#}

                {#function check () {#}
                    {#var selectedTicket = document.getElementsByClassName("ticketForm").length;#}
                    {#var ticketAvailable = null;#}

                    {#if (selectedTicket !== ticketAvailable) {#}
                        {#checkSelectedTicket()#}
                    {#}#}
                {#}#}

                {#function checkSelectedTicket () {#}

                    {#var visitDate = document.getElementById("booking_date").value;#}

                        {#var regex = /\//gm;#}
                        {#var str = visitDate;#}
                        {#var subst = `-`;#}

                    {#// Remplacement des slash par des tirets dans l' affichage url de la date de visite#}
                    {#visitDate = str.replace(regex, subst);#}

                    {#// création d'une url pour récupérer des données (nombre de tickets par jour) de la bdd#}
                    {#var url = "{{ app.request.getBaseURL()}}/louvre/billetterie/selection/visite/" + visitDate;#}

                    {#// mise en place d'ajax pour afficher des messages sans réactualiser la page#}
                    {#$.get(url, function(data) {#}
                        {#var selectedTicket = document.getElementsByClassName("ticketForm").length;#}
                        {#var ticketAvailable = JSON.parse(data);#}

                        {#// console.log(selectedTicket);#}
                        {#// console.log(ticketAvailable.available);#}

                        {#if ((selectedTicket == ticketAvailable.available) || (ticketAvailable.available == 0)) {#}
                            {#document.getElementById("checkSelectedTicket").innerHTML = "<div class=\"errorDate\">Il n'y a plus assez de tickets disponibles pour cette date !</div>";#}
                            {#document.getElementById("addTicketButton").setAttribute("disabled", "disabled");#}
                        {#}#}
                        {#else {#}
                            {#document.getElementById("checkSelectedTicket").innerHTML = "<div></div>";#}
                            {#document.getElementById("addTicketButton").removeAttribute("disabled");#}
                        {#}#}
                    {#});#}
                // }
            </script>

            <div class="col offset-l2 l8 offset-m2 m8 offset-s1 s10">
                <div id="checkDateMessage" class="successDate"></div>
                <div id="checkDateMessage" class="errorDate"></div>
            </div>

            <div class="col offset-l2 l8 offset-m2 m8 offset-s1 s10">
                <p>
                    Cochez le type de journée voulue :<br/>
                    {{ form_widget(form.type) }}
                </p>
                <p></p>
            </div>


        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col offset-l2 l8 offset-m1 m10 s12 grey lighten-2 z-depth-5">
            <h4>2) Nombre de personnes</h4>
            {#<hr/><br/>#}
            {#<div class="row">#}
                {#<div class="input-field col offset-s4 s4">#}
                    {#<label for="nbBillet">Veuillez indiquer le nombre de billets souhaité</label>#}
                    {#<input type="number" id="nbBillet" min="0" max="10"/>#}
                {#</div>#}
            {#</div>#}

                <div id="ticketFormId" class="row">
                    <div class="ticketForm">
                    <h5>Billet N°1</h5>
                    </div>
                    <div class="col s12">

                        {#{{ form_label(form.tickets) }}#}
                        {{ form_widget(form.tickets) }}
                        {{ form_errors(form.tickets) }}

                    </div>
                </div>

            <div class="col offset-l2 l8 offset-m2 m8 offset-s1 s10">
                <div id="checkSelectedTicket" class="successDate"></div>
                <div id="checkSelectedTicket" class="errorDate"></div>
            </div>

            <br/>
            <br/>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col offset-l2 l8 offset-m1 m10 s12 grey lighten-2 z-depth-5">
            <h4>3) Coordonnées</h4>
            <hr/><br/>
            <div class="col l6 s12">
                {{ form_row(form.prenom) }}
            </div>
            <div class="col l6 s12">
                {{ form_row(form.nom) }}
            </div>
            <div class="col offset-l3 l6 s12">
                {{ form_row(form.email) }}
            </div>
            <div id="infos" class="col offset-l2 l8 s12">
                {{ form_row(form.registration, {
                    'label': 'En confirmant ma commande, j\'accepte que les informations saisies soient exploitées par le musée du Louvre (pour plus d\'informations, veuillez vous diriger vers les Conditions Générales de Vente du site)'
                }) }}
            </div>
            <br/>
        </div>
    </div>


    {#{{ dump(form) }}#}

    <div id="bookingButtonWeb" class="row">
        <div class="col offset-l8 l2">
            <button id="bookingButton" class="btn waves-effect waves-light amber darken-2" type="submit">Commander<i class="material-icons right">send</i></button>
        </div>
    </div>

    <div id="bookingButtonMobile" class="row">
        <button id="bookingButton" class="btn waves-effect waves-light amber darken-2" type="submit">Commander<i class="material-icons right">send</i></button>
    </div>

    {{ form_end(form)}}

{% endblock %}

