{% extends 'base.html.twig' %}

{% block tarifs %}

    <div class="part">
        <div class="row">
            <div class="col offset-s1 s10 grey lighten-2 z-depth-5">
                <h4>Nos tarifs</h4>
                <br/>
                <table class="centered">
                    <thead>
                    <tr>
                        <th>Type de visite</th>
                        <th>Enfant</th>
                        <th>Normal</th>
                        <th>Sénior</th>
                        <th>Réduit</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th>Journée</th>
                        <td>8€</td>
                        <td>16€</td>
                        <td>12€</td>
                        <td>10€</td>
                    </tr>
                    <tr>
                        <th>Demi-journée</th>
                        <td>4€</td>
                        <td>8€</td>
                        <td>6€</td>
                        <td>5€</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>de 4 ans à 12 ans <br/>(l’entrée est gratuite pour <br/>les enfants de moins de 4 ans)</td>
                        <td>à partirde 12 ans</td>
                        <td>à partir de 60 ans</td>
                        <td>* tarif réservé sous présentation d'un justificatif <br/>(étudiant, employé du musée, d’un <br/>service du Ministère de la Culture, militaire…)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block login %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Connexion à votre compte :</h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}

                    <div class="row">
                        <div class="col offset-s8 s2">
                            <button class="btn waves-effect waves-light amber darken-2" type="submit">Connexion<i class="material-icons right">send</i></button>
                        </div>
                    </div>

                {#<div class="newAccount">#}
                    {#<h4>Nouveau sur le site du Louvre ? </h4> <br/>#}
                    {#<button class="btn waves-effect waves-light amber darken-2" type="submit"><a href="{{ path('register') }}">Créer votre compte</a></button> <br/>#}
                    {#<a href="{{ path('register') }}"><input type="button" class="btn waves-effect waves-light amber darken-2" value="Créer votre compte"/></a>#}
                {#</div>#}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <br/>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col offset-s2 s8">
                <div class="account">
                    <br/>
                    <hr/>
                    <h4>Nouveau sur le site du Louvre ?</h4>
                    <br/>
                    {#<button class="btn waves-effect waves-light amber darken-2" type="submit"><a href="{{ path('register') }}">Créer votre compte</a></button> <br/>#}
                    <a href="{{ path('register') }}"><input type="button" class="btn waves-effect waves-light amber darken-2" value="Créer votre compte"/></a>
                </div>
            </div>
        </div>
    </div>

    <br/>
{% endblock %}