    <div style="background-image: image('{{ asset('img/louvre_bannière.jpg') }}')">Le Louvre</div>

    <div style="background-color: #ff8f00; color: white;"> <h1>Musée du Louvre</h1> </div>

    <div style="background-color: #bdbdbd; color: white;"> <p>Confirmation d'achat de vos billets d'entrée au Musée du Louvre</p> </div>

    <p>Bonjour {{ booking.prenom }} {{ booking.nom }}, nous vous confirmons votre achat des billets d'entrée pour la visite du {{ booking.date|date('d/m/Y') }} en {{ booking.type }} au Musée du Louvre.
    </p>

    <p>Vous trouverez ci-dessous le récapitulatif de vos billets, imprimables, ou sur présentation de ce mail auprès de nos agents d'accueil.</p>

    <hr/>

    <div class="row">
        <div class="col offset-s3">

        <h3><strong>Commande N°</strong>{{ booking.id }} , <strong>visite du</strong> {{ booking.date|date('d/m/Y') }}</h3>

        <strong>Nom :</strong> {{ booking.nom }} <br/>
        <strong>Prénom :</strong> {{ booking.prenom }} <br/>
        <strong>Date de la visite :</strong> le {{  booking.date|date('d/m/Y') }} en <strong>{{ booking.type }}</strong> <br/>
        <strong>Email :</strong> {{ booking.email }} <br/>
        <strong>Statut de la commande :</strong> {{ booking.statut }} <br/>
        <strong>Prix total de la commande :</strong> {{ booking.prixTotal }} €<br/><br/>

        <table style="text-align: center">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Réduction</th>
                    <th>Tarifs</th>
                    <th>Numéro de la commande</th>
                </tr>
            </thead>

            {% for ticket in ticket %}
            <tbody>
                <tr>
                    <td> {{ ticket.nom }} </td>
                    <td> {{ ticket.prenom }} </td>
                    <td> {{ ticket.dateNaissance|date('d/m/Y') }} </td>
                    <td> {{ ticket.tarifReduit }} </td>
                    <td> {{ ticket.prix }} € </td>
                    <td> {{ ticket.booking.id }} </td>
                </tr>
            </tbody>
            {% endfor %}

            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td><strong> {{ booking.prixTotal }} € </strong></td>
                </tr>
            </tbody>
        </table>

        </div>
    </div>