{% extends 'base.html.twig' %}

{% block navigation %}

    <div class="navbar-fixed">
        <nav class="grey lighten-1">
            <div class="row">
                <div class="col s12">
                    <div class="col s3"><div class="grey submenu1">Sélection</div></div>
                    <div class="col s3"><div class="grey submenu2">Résumé</div></div>
                    <div class="col s3"><div class="grey submenu3">Paiement</div></div>
                    <div class="col s3"><div class="submenu4">Validation</div> </div>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}

{% block order %}
<div class="row">
    <div id="infos" class="col offset-l3 l6 offset-m1 m10 offset-s1 s10">
        <div id="wrapper">
            <div id="container">
                <div id="welcome">
                    <h3>Paiement de votre commande</h3>
                </div>

                <div id="status">

                        <script type="text/javascript">
                            today = new Date();
                            document.write("<p>{{ booking.prenom }} {{ booking.nom }}, vous êtes sur le point de payer votre commande du ");
                            document.write(today.toLocaleDateString());
                            document.write(" d'un montant de {{ booking.prixTotal }} €.</p>");
                        </script>

                        <form action="{{ path('order_checkout', {'id': booking.id}) }}" method="POST" class="payment-button">
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_rCP3SL76FiKDez8nzhtuMJNp"
                                data-image="{{ asset('louvre_favicon.png') }}"
                                data-label="Payer avec ma carte"
                                data-email="{{ booking.email }}"
                                data-amount="{{ booking.prixTotal*100 }}"
                                data-name="Billetterie du Louvre"
                                data-description="Musée du Louvre"
                                data-locale="auto"
                                data-currency="eur">
                            </script>
                            <input type="hidden" name="id" value="{{ booking.id }}">
                            <input type="hidden" name="firstName" value="{{ booking.prenom }}">
                            <input type="hidden" name="lastName" value="{{ booking.nom }}">
                            <input type="hidden" name="visitDate" value="{{ booking.date|date('d/m/Y') }}">
                            <input type="hidden" name="visitType" value="{{ booking.type }}">
                            <input type="hidden" name="totalPrice" value="{{ booking.prixTotal*100 }}">
                            <input type="hidden" name="email" value="{{ booking.email }}">
                        </form>

                        {#ajout d'un message lors de la validation de paiement d'une commande#}
                        {% for message in app.flashes('success') %}
                            <div class="flash-success">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {#ajout d'un message lors du refus de paiement d'une commande#}
                        {% for message in app.flashes('error') %}
                            <div class="flash-error">
                                {{ message }}
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
